<section id="about" class="section about-style2">
    <div class="container">
        <div class="section-title">
            <h2>About me</h2>
            <span class="border"></span>
            <p>
                <span>My name is Joseph Mizrahi, I have graduated from Brooklyn College with a B.S. in Computer Science. I am currently finishing graduate school and plan to finish my M.A. in Computer Science and expect to graduate in May 2017.</span>
            </p>
            <p>
                I am currently a Software Engineer at MLB Advanced Media (MLB.com). I have been working on many sites such as <a href="http://MLB.com" target="_blank">MLB.com</a>, <a href="http://SNY.tv" target="_blank">SNY.tv</a>, <a href="http://Subscribe.NHL.com" target="_blank">Subscribe.NHL.com</a>, <a href="http://120Sports.com" target="_blank">120Sports.com</a>, <a href="http://SportsOnEarth.com" target="_blank">SportsOnEarth.com</a>, <a href="http://TigerWoods.com" target="_blank">TigerWoods.com</a>, <a href="http://IceNetwork.com" target="_blank">IceNetwork.com</a>, <a href="http://YesNetwork.com" target="_blank">YesNetwork.com</a>, <a href="http://WorldBaseballClassic.com" target="_blank">WorldBaseballClassic.com</a>, <a href="http://TheBlazeTV.com" target="_blank">TheBlazeTV.com</a>, and many more...
            </p>
        </div>
        <!-- end .section-title -->
        <div class="row">
            <div class="col-md-4">
                <img src="/img/pro_pic.png" alt="avater" class="img-responsive">
            </div>
            <!-- end .col-md-4 -->
            <div class="col-md-4">
                <div class="about-info">
                    <div class="info-title">
                        <!--<p>Birthdate</p>-->
                        <p>Phone</p>
                        <p>Email</p>
                        <p>Website</p>
                        <p>Address</p>
                    </div>
                    <!-- end .info-title -->
                    <div class="info-details">
                        <!--<p>: 12-06-1992</p>-->
                        <p>: Check Resume</p>
                        <p>: jomizrahi92 [at] yahoo</p>
                        <p>: JosephMizrahi.com</p>
                        <p>: Brooklyn, NY</p>
                    </div>
                    <!-- end .info-details -->
                    <p class="about-signature">Joseph Mizrahi</p>
                    <a href="/Joseph_Mizrahi_Resume.pdf" class="mt-button large btn"><i class="fa-download"></i><span>Download Resume</span></a>
                </div>
                <!-- end .about-info -->
            </div>
            <!-- end .col-md-4 -->
            <div class="col-md-4">
                <div class="about-extra">
                    <h4><!--HOBBIES &amp;--> INTERESTS</h4>
                    <div class="about-extra-icon-style2">
                        <ul>
                            <li>
                                <p><i class="fa-apple"></i>
                                    <br><span>iOS</span></p>
                            </li>
                            <li>
                                <p><i class="fa-apple2"></i>
                                    <br><span>OS X</span></p>
                            </li>
                            <li>
                                <p><i class="fa-headphones"></i>
                                    <br><span>Music</span></p>
                            </li>
                            <!--<li>
                                                <p><i class="fa-gamepad"></i><br><span>Games</span></p>
                                            </li>
											<li>
												<p><i class="fa-video-camera"></i><br><span>TV Shows</span></p>
											</li>
											<li>
												<p><i class="fa-coffee"></i><br><span>Hot Chocolate</span></p>
											</li>
											<li>
												<p><i class="fa-truck"></i><br><span>Cars</span></p>
											</li>
											<li>
												<p><i class="fa-money"></i><br><span>Money</span></p>
											</li>	-->
                        </ul>
                    </div>
                    <!-- end .about-extra-icon -->
                </div>
                <!-- end .about-extra -->
            </div>
            <!-- end .col-md-8 -->
        </div>
        <!-- end .col-md-row -->
        <!--div class="row">
							<div class="col-md-6">
				                <a href="#" class="mt-button small outline">Small</a>
				                <br><br>            
				                <a href="#" class="mt-button medium outline">Medium</a>
				                <br><br>            
				                <a href="#" class="mt-button large outline">Largest</a>
							</div>
							<div class="col-md-6">
				                <a href="#" class="mt-button small outline rounded">Small</a>
				                <br><br>            
				                <a href="#" class="mt-button medium outline rounded">Medium</a>
				                <br><br>            
				                <a href="#" class="mt-button large outline rounded">Largest</a>
							</div>
						</div-->
    </div>
    <!-- end .container -->
</section>