<!-- Styleswitcher -->
<!--
    	<div class="colors-switcher">
            <a id="show-panel" class="hide-panel"><i class="fa fa-tint"></i></a>
		        <p>Color Skins:</p>           
	            <ul class="colors-list">
	            	<li class="no-margin"><a title="Red" onClick="setActiveStyleSheet('red'); return false;" class="red"></a></li>
	            	<li><a title="Green" class="green" onClick="setActiveStyleSheet('green'); return false;"></a></li>
	                <li class="no-margin"><a title="Purple" onClick="setActiveStyleSheet('purple'); return false;" class="purple"></a></li>
	                <li><a title="Blue" class="blue" onClick="setActiveStyleSheet('blue'); return false;"></a></li>
	                <li class="no-margin"><a title="Turquoise" class="turquoise" onClick="setActiveStyleSheet('turquoise'); return false;"></a></li>
	                <li><a title="Sun Flower" class="sun-flower" onClick="setActiveStyleSheet('sun-flower'); return false;"></a></li>
	                <li class="no-margin"><a title="Orange" class="orange" onClick="setActiveStyleSheet('orange'); return false;"></a></li>
	                <li class="no-margin"><a title="Emerald" class="emerald" onClick="setActiveStyleSheet('emerald'); return false;"></a></li>
	            </ul>

        </div>	
 -->
<!-- Styleswitcher end -->
