<section id="contact" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Contact me</h2>
            <span class="border"></span>
        </div>
        <!-- end .section-title -->
        <div class="row">
            <div class="col-md-6">
                <h2>LET'S GET IN TOUCH</h2>
                <ul class="get_in">
                    <li><i class="fa fa-envelope-o"></i>
                        <p>jomizrahi92 [at] yahoo</p>
                    </li>
                    <li><i class="fa fa-phone"></i>
                        <p>Check vCard</p>
                    </li>
                    <li><i class="fa fa-map-marker"></i>
                        <p>Brooklyn, NY</p>
                    </li>
                    <li><a href="Joseph_Mizrahi.vcf"><i class="fa fa-cloud-download"></i><p>Download vCard</p></a></li>
                </ul>
                <!-- end .get_in -->
            </div>
            <!-- end .col-md-6 -->
            <div class="col-md-6">
                <h2>DROP ME A LINE</h2>
                <!-- contact from -->
                <form class="form" id="form" method="post" action="/contact">
                    <input type="text" name="name" placeholder="Name" required/>
                    <input type="text" name="email" placeholder="Email" required/>
                    <textarea name="message" placeholder="Message" rows="8"></textarea>
                    <input type="submit" class="btn mt-button medium outline" id="submit" value="Send Message">
                </form>
                <span class="sending">
									sending...
								</span>
                <!-- end .sending -->
                <div class="mess center">
                </div>
                <!-- end .mess .center -->
            </div>
            <!-- end .col-md-6 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->
</section>
