<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="joseph, mizrahi, joe, miz, josephmizrahi, fofi, fofe, phophi, fofee, jmiz, jomizrahi92, jomizrahi, jmizrahi, joseph mizrahi, joe miz, joseph miz, entrepreneur, investor, computer science, computer, science, jmunlocks, jm, unlocks, unlock, jm unlocks, jm unlock, developer, hacker, ceo, ios, facebook, instagram, linkedin, twitter, web, dev, website, developer, programmer, web developer" />
    <meta name="author" content="Joseph Mizrahi" />
    <meta name="google-site-verification" content="Xtx3n6qn71BdoUK8ThedjbdQY7x84cjTghukJakoios" />
    <title>{{title}}</title>
    <!--Fav and touch icons-->
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--style sheet-->
    <link rel="stylesheet" media="screen" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fontello//css/fontello.css" />
    <link rel="stylesheet" media="screen" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arizonia">
    <!--color stylesheet -->
    <link rel="stylesheet" href="/css/colors/color-red.css" title="red">
    <!--<link rel="stylesheet" href="/css/colors/color-green.css" title="green">
	<link rel="stylesheet" href="/css/colors/color-purple.css" title="purple">
	<link rel="stylesheet" href="/css/colors/color-blue.css" title="blue">
	<link rel="stylesheet" href="/css/colors/color-turquoise.css" title="turquoise">
	<link rel="stylesheet" href="/css/colors/color-sun-flower.css" title="sun-flower">
	<link rel="stylesheet" href="/css/colors/color-orange.css" title="orange">
	<link rel="stylesheet" href="/css/colors/color-emerald.css" title="emerald">-->
</head>