<!-- Header -->
<div class="main-menu-continer">
    <nav id="main-menu" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-navicon"></i>
                </button>
                <!-- Logo -->
                <a href="#" class="header-logo">
                    <a href="/#home"><img src="/img/web2.png" alt="Logo"></a>
                </a>
                <!-- Logo -->
            </div>
            <!-- End .navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Navigation -->
                <ul class="nav navbar-nav" id="navs">
                    <li><a href="/#home" class="colapse-menu1">Home</a></li>
                    <li><a href="/#about" class="colapse-menu1">About</a></li>
                    <li><a href="/#resume" class="colapse-menu1">Resume</a></li>
                    <!--<li><a href="#service" class="colapse-menu1">Service</a></li>-->
                    <li><a href="/#skills" class="colapse-menu1">Skill</a></li>
                    <li><a href="/#portfolio" class="colapse-menu1">Portfolio</a></li>
                    <!--<li><a href="#pricetable" class="colapse-menu1">Pricing</a></li>
				        <li><a href="#blog" class="colapse-menu1">Blog</a></li>
						<li><a href="#clients" class="colapse-menu1">Clients</a></li>-->
                    <li><a href="/#contact" class="colapse-menu1">Contact</a></li>
                    <!--<li class="menu-item-has-children">
                            <a href="#">Extra</a>
                            <ul class="sub-menu">
                                <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                <li><a href="portfolio-single-slider.html">Portfolio Single Slider</a></li>
                                <li><a href="portfolio-single-video.html">Portfolio Single video</a></li>
                            </ul><!-- /.sub-menu -->
                    <!--</li>-->
                </ul>
                <!-- Navigation End -->
            </div>
            <!-- End .collapse -->
        </div>
        <!-- End .container -->
    </nav>
    <!-- End #main-menu -->
</div>
<!-- Header End -->