<section id="portfolio" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <span class="border"></span>
        </div>
        <!-- end .section-title -->
        <div class="row">
            <!-- #options -->
            <!--<div id="options" class="clearfix">
                <ul id="filters" class="option-set clearfix" data-option-key="filter">
                    <li><a href="#filter" data-option-value="*" class="selected">Full Portfolio</a></li>
                    <!--<li><a href="#filter" data-option-value=".webdesign">webdesign</a></li>
                    <li><a href="#filter" data-option-value=".uidesign">uidesign</a></li>
                    <li><a href="#filter" data-option-value=".branding">branding</a></li>
                    <li><a href="#filter" data-option-value=".logodesign">logodesign</a></li>
                    <li><a href="#filter" data-option-value=".illustration">illustration</a></li>-->
            <!--</ul>
            </div>-->
            <!-- #options end-->
        </div>
        <!-- End .row -->
        <div class="row">
            <!-- Portfolio container -->
            <div class="portfolio-container">
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/josephmizrahi">
                                <img src="/img/portfolio/josephmizrahi.png" alt="my website" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Full Website</h2>
                                        <p>Developed for <span>Joseph Mizrahi</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign logodesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/ai">
                                <img src="/img/portfolio/ai.png" alt="Accessory Innovation" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Accessory Innovation</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign illustration logodesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/apana">
                                <img src="/img/portfolio/apana.png" alt="Apana" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Apana</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt uidesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/layer8">
                                <img src="/img/portfolio/layer8.png" alt="Layer 8" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Layer8</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt uidesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/blink">
                                <img src="/img/portfolio/blink.png" alt="Blink Innovations" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Coming Soon Page</h2>
                                        <p>Developed for <span>Blink Innovations</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt uidesign illustration">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/brooklyncloth">
                                <img src="/img/portfolio/brooklyncloth.png" alt="Brooklyn Cloth" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Coming Soon Page</h2>
                                        <p>Developed for <span>Brooklyn Cloth</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt branding logodesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/sunsource">
                                <img src="/img/portfolio/sunsource.png" alt="SunSource" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>SunSource</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt branding">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/noman">
                                <img src="/img/portfolio/noman.png" alt="No Man Walks Alone" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Coming Soon Page</h2>
                                        <p>Developed for <span>No Man Walks Alone</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt branding illustration">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/freezyf">
                                <img src="/img/portfolio/freezyf.png" alt="Freezy Freakies" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Coming Soon Page</h2>
                                        <p>Developed for <span>Freezy Freakies</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/bsdre">
                                <img src="/img/portfolio/bsdre.png" alt="BSDRE" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>BSDRE</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/towncountry">
                                <img src="/img/portfolio/towncountry.png" alt="Town And Country" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Town And Country</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/jmlegend">
                                <img src="/img/portfolio/jmlegend.png" alt="JMLegend" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>JMLegend</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/tricoastal">
                                <img src="/img/portfolio/tricoastal.png" alt="Tricoastal" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Tricoastal</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/blueswitch">
                                <img src="/img/portfolio/blueswitch.png" alt="BlueSwitch" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>BlueSwitch</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/responsivedesign">
                                <img src="/img/portfolio/responsivedesign.png" alt="Responsive Web Page Mockup" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Responsive Web Page Mockup</h2>
                                        <p>Developed for <span>fun</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/sypulseapp">
                                <img src="/img/portfolio/sypulseapp.png" alt="SYPulse App" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>SYPulse iOS App</h2>
                                        <p>Developed for <span>SYPulse</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/sypulsesite">
                                <img src="/img/portfolio/sypulsesite.png" alt="SYPulse Site" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>SYPulse Wordpress Site</h2>
                                        <p>Developed for <span>SYPulse</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/csvjavascript">
                                <img src="/img/portfolio/csvjavascript.png" alt="JavaScript" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>CSC In JavaScript</h2>
                                        <p>Developed for <span>fun</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/jscalendar">
                                <img src="/img/portfolio/jscalendar.png" alt="JavaScript Calendar" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>JavaScript Calender</h2>
                                        <p>Developed for <span>fun</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/q4">
                                <img src="/img/portfolio/q4.png" alt="Q4 Designs" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Q4 Designs</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/onefamfund">
                                <img src="/img/portfolio/onefamfund.png" alt="One Family Fund" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>HTML Email</h2>
                                        <p>Developed for <span>One Family Fund</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/bsdre-new">
                                <img src="/img/portfolio/bsdre-new.png" alt="BSDRE" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>BSDRE</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/cards">
                                <img src="/img/portfolio/cards.png" alt="Front End Card Animation" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Card Animation</h2>
                                        <p>Developed for <span>fun</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/bsdsoon">
                                <img src="/img/portfolio/bsd-soon.png" alt="BSDRE" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Coming Soon Page</h2>
                                        <p>Developed for <span>BSDRE</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/imagecapital">
                                <img src="/img/portfolio/imagecapital.png" alt="Image Capital" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>ImageCapital</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/haskelljewels">
                                <img src="/img/portfolio/haskelljewels.png" alt="Haskell Jewels" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>Haskell Jewels</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/jshatzalah">
                                <img src="/img/portfolio/jshatzalah.png" alt="JS Hatzalah" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Front End Website</h2>
                                        <p>Developed for <span>JS Hatzalah</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/jshatzalahcarnival">
                                <img src="/img/portfolio/jshatzalahcarnival.png" alt="JS Hatzalah Carnival" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Full Website</h2>
                                        <p>Developed for <span>JS Hatzalah Carnival</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/bittenapps">
                                <img src="/img/portfolio/bittenapps.png" alt="Bitten Apps" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Full Website</h2>
                                        <p>Developed for <span>Bitten Apps</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    <div class="project-item">
                        <div class="project-image">
                            <a href="portfolio/kidsperation">
                                <img src="/img/portfolio/kidsperation.png" alt="Kidsperation" />
                                <div class="overlay">
                                    <div class="details">
                                        <h2>Full Website</h2>
                                        <p>Developed for <span>Kidsperation</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- end .project-image -->
                    </div>
                    <!-- end .project-item -->
                </div>
                <!-- end .col-xs-12 col-sm-6 col-md-4 -->
            </div>
            <!-- End .portfolio-container -->
            <!-- Portfolio container End-->
        </div>
        <!-- End .row -->
    </div>
    <!-- end .container -->
</section>