<section id="resume" class="section">
    <div class="container">
        <div class="section-title">
            <h2>My resume</h2>
            <span class="border"></span>
        </div>
        <!-- end .section-title -->
        <div class="row">
            <div class="col-md-12">
                <div class="timeline">
                    <!-- Experience Timeline -->
                    <div class="timeline-category exp-category">
                        <a class="large bt-timeline">Experiences</a>
                        <div class="timeline-category-icon">
                            <div class="iconspace"><i class="fa-folder-open"></i></div>
                        </div>
                        <!-- /.timeline-category-icon end -->
                    </div>
                    <!-- /.timeline-category end -->
                    <div class="col-md-6 timeline-post-left">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Software Engineer</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>MLB Advanced Media (MLB.com)</span><span class="timeline-duration">June 2015 - Present</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Implemented web interfaces and applications using HTML, CSS, JavaScript, jQuery, JSP, JSTL, Node, ExpressJS, HandleBarsJS, Git, Groovy Framework, and Jenkins.</p>
                                    <p>Rapidly prototyped and implemented scalable, reliable, and maintainable web applications using HTML5 technologies.</p>
                                    <p>Enforced code quality through test driven development.</p>
                                    <p>Collaborated closely with other engineering, product, and marketing teams to define product requirements.</p>
                                    <p>Distilled product requirements into design and technical specifications.</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <div class="col-md-6 timeline-post-right">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Intern</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>BlueSwitch</span><span class="timeline-duration">September 2014 - June 2015</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Developed numerous websites and webpages for a web design company</p>
                                    <p>Engaged with HTML, CSS, JavaScript, jQuery, Classic ASP, ASP.NET MVC, Visual Basic, Git, Photoshop, Visual Studio, Bootstrap, and WordPress</p>
                                    <p>Performed site testing including error checking, and browser compatibility</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <div class="clear"></div>
                    <div class="col-md-6 timeline-post-left">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>CEO and Founder</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>JM Unlocks</span><span class="timeline-duration">September 2012 – December 2014</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Directed the operations of a successful iPhone unlocking service</p>
                                    <p>Responsible for purchasing merchandise, business supplies and services to facilitate the business</p>
                                    <p>Developed the structure of the API to better assist customers</p>
                                    <p>Responsible for testing every aspect of the website and API commands</p>
                                    <p>Managed human resources, customer service and social media of the company</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <div class="col-md-6 timeline-post-right">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Developer</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>SYPulse</span><span class="timeline-duration">February 2012 – June 2013</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Produced the website and iOS Application for a community news company</p>
                                    <p>Handled server configuration</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-right end -->
                    <div class="clear"></div>
                    <div class="col-md-6 timeline-post-left">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Manager</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>USCoinSpot</span><span class="timeline-duration">January 2009 – May 2011</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Managed an e-commerce business, selling items on eBay, Amazon, and company website</p>
                                    <p>Facilitated payment &amp; shipment of merchandise</p>
                                    <p>Coordinated customer service</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <div class="col-md-6 timeline-post-right">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Intern</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>Majesco</span><span class="timeline-duration">April 2010 - May 2010</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <p>Collaborated with a team of video game developers to test and debug games</p>
                                    <p>Responsible for installing operating systems and drivers on formatted computers</p>
                                    <p>Assisted the IT department conducting daily evaluation of computers while managing inventory</p>
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-right end -->
                    <!-- Experience Timeline  end -->
                    <!-- Education Timeline -->
                    <div class="timeline-category edu-cagegory">
                        <a class="large bt-timeline">Education</a>
                        <div class="timeline-category-icon">
                            <div class="iconspace"><i class="fa-book"></i></div>
                        </div>
                        <!-- /.timeline-category-icon end -->
                    </div>
                    <!-- /.timeline-category end -->
                    <div class="col-md-6 timeline-post-left">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Master of Arts, Computer Science</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>Brooklyn College, City University of New York</span><span class="timeline-duration">2014 - 2017</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <!--<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>-->
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <div class="col-md-6 timeline-post-right">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>Bachelor of Science, Computer Science</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>Brooklyn College, City University of New York </span><span class="timeline-duration">2010 - 2014</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <!--<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>-->
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-right end -->
                    <div class="col-md-6 timeline-post-left">
                        <div class="timeline-post">
                            <div class="timeline-post-content-holder">
                                <div class="timeline-post-icon"></div>
                                <div class="timeline-post-title">
                                    <h4>High School</h4>
                                </div>
                                <div class="timeline-post-subtitle">
                                    <p><span>Magen David Yeshiva</span><span class="timeline-duration">2006 - 2010</span></p>
                                </div>
                                <div class="timeline-post-content">
                                    <!--<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>-->
                                </div>
                            </div>
                            <!-- /.timeline-post-content-holder end -->
                        </div>
                        <!-- /.timeline-post end -->
                    </div>
                    <!-- /.timeline-post-left end -->
                    <!-- Education Timeline -->
                    <div class="timeline-end-icon"><span> <i class="fa-bookmark"></i></span></div>
                </div>
                <!-- end .timeline -->
            </div>
            <!-- end .col-md-12 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->
</section>