<section id="skills" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Skill</h2>
            <span class="border"></span>
        </div>
        <!-- end .section-title -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="98">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>HTML5</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="98">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>CSS3</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>BOOTSTRAP</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JAVASCRIPT</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JQUERY</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>NodeJS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>ExpressJS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>HandlebarsJS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JSP</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="85">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JSTL</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="50">
                    <p>50<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>AJAX</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="50">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JSON</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="50">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>XML</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="98">
                    <p>98<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>RESPONSIVE DESIGN</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="25">
                    <p>25<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>CLASSIC ASP</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="35">
                    <p>35<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>VB.NET</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="75">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>WORDPRESS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="80">
                    <p>80<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>C/C++</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="75">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>JAVA</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="80">
                    <p>80<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>MYSQL</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="25">
                    <p>25<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>PHP</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="25">
                    <p>25<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>AngularJS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="50">
                    <p>50<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>OBJECTIVE-C/SWIFT</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="90">
                    <p>90<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>MICROSOFT OFFICE</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="50">
                    <p>50<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>PHOTOSHOP</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="100">
                    <p>100<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>OS X/iOS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="100">
                    <p>100<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>WINDOWS</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
            <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
                <div class="chart" data-percent="75">
                    <p>75<sup>%</sup></p>
                </div>
                <div class="skills-content">
                    <h3>LINUX/UNIX</h3>
                    <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>-->
                </div>
                <!-- end .skils-content -->
            </div>
            <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->
</section>