<!--Header Start-->
{{>header title='Joseph Mizrahi - Web Developer | Develops Websites' description='Joseph Mizrahi is a Software Engineer at MLB. He loves Web Developement, and has developed numberous websites. He is also an iOS and OS X Enthusiast.'}}
<!-- Header End -->

<!--Body-->
<body>
    <!-- Header Home Start -->
    {{>header-home}}
    <!-- Header Home End -->

    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main End -->

    <!-- Body Start -->
    {{{body}}}
    <!-- Body End -->

    <!-- Preloader Start -->
    {{>preloader}}
    <!-- Preloader End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
