<!-- Section : About -->
{{>about}}
<!-- Section : About end -->

<!-- Section : Resume -->
{{>resume}}
<!-- Section : Resume end -->

<!--Parallax Section -->
<div id="wprocess" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="parallax-overlay-2">
        <div class="container">
            <div class="title">
                <h1>Work Process</h1>
            </div>
            <!-- end .title -->
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="icon-lamp"></i>
                            <h4>IDEA</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="fa fa-puzzle-piece"></i>
                            <h4>CONCEPT</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="icon-brush"></i>
                            <h4>DESIGN</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="fa fa-code"></i>
                            <h4>DEVELOP</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="fa fa-bug"></i>
                            <h4>TEST</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="work_process">
                        <div class="work_process-box">
                            <i class="fa fa-rocket"></i>
                            <h4>LAUNCH</h4>
                        </div>
                        <!-- end .work_process-box -->
                    </div>
                    <!-- end .work_process -->
                </div>
                <!-- end .col-xs-6 .col-sm-4 .col-md-2 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end .parallax-overlay-2 -->
</div>
<!-- Parallax Section End -->

<!-- Section : skills -->
{{>skills}}
<!-- Section : skills end-->

<!-- Section : Portfolio -->
{{>portfolio}}
<!-- Section : Portfolio end -->

<!--Parallax Section -->
<div id="hire" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="parallax-overlay-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>I Love To Develop &amp; Test</h1>
                    <a href="#contact" class="mt-button large hire-btn">Hire Me Now</a>
                </div>
                <!-- end .col-md-12 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end .parallax-overlay-2 -->
</div>
<!-- Parallax Section End -->

<!-- Section : Contact -->
{{>contact}}
<!-- Section : Contact end -->