<!--Header Start-->
{{> header title='Full Website - Accessory Innovation' description='Full Website for Accessory Innovation'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Accessory Innovation.' client='Accessory Innovation' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Accessory-Innovation' site='http://www.accessoryinnovations.com' img='ai'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
