<!--Header Start-->
{{> header title='Full Website - Apana' description='Full Website for Apana'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Apana.' client='Apana' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Apana' site='n' img='apana'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
