<!--Header Start-->
{{> header title='Full Website - BittenApps' description='Full Website for BittenApps'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for BittenApps.' client='BittenApps' lang='HTML, CSS, JavaScript, jQuery, Node, ExpressJS, HandlebarsJS, Responsive Design' github='n' site='https://bittenapps.com/' img='bittenapps'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
