<!--Header Start-->
{{> header title='Full Website - Blink Innovations' description='Full Website for Blink Innovations'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Blink Innovations.' client='Blink Innovations' lang='HTML, CSS' github='https://github.com/jomizrahi92/Blink-Innovations' site='n' img='blink'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
