<!--Header Start-->
{{> header title='Full Website - BlueSwitch' description='Full Website for BlueSwitch'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for BlueSwitch.' client='BlueSwitch' lang='HTML, CSS, JavaScript, jQuery, Bootstrap, Responsive Design' github='https://github.com/jomizrahi92/BlueSwitch' site='http://www.blueswitch.com' img='blueswitch'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
