<!--Header Start-->
{{> header title='Full Website - Brooklyn Cloth' description='Full Website for Brooklyn Cloth'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Coming Soon Page' description='Created the Coming Soon page for Brooklyn Cloth.' client='Brooklyn Cloth' lang='HTML, CSS' github='https://github.com/jomizrahi92/Brooklyn-Cloth' site='http://www.brooklyncloth.com' img='brooklyncloth'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
