<!--Header Start-->
{{> header title='Full Website - BSDRE' description='Full Website for BSDRE'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for BSDRE.' client='BSDRE' lang='HTML, CSS, JavaScript, jQuery, Classic ASP' github='https://github.com/jomizrahi92/BSDRE' site='http://bsdre.com' img='bsdre'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
