<!--Header Start-->
{{> header title='Coming Soon Page - BSDRE' description='Coming Soon Page for BSDRE'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Coming Soon Page' description='Created the coming soon page for BSDRE.' client='BSDRE' lang='HTML, CSS, Classic ASP' github='https://github.com/jomizrahi92/BSD-Coming-Soon' site='http://MulberryStreetSouth.com' img='bsd-soon'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
