<!--Header Start-->
{{> header title='Card Animation' description='Card Animation'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Front End Card Animation.' description='Card design with animation' client='None' lang='HTML, CSS, Bootstrap, Responsive Design, and jQuery' github='https://github.com/jomizrahi92/Card-Animation' site='n' img='cards'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
