<!--Header Start-->
{{> header title='CSV In JavaScript' description='CSV In JavaScript'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='CSV In JavaScript' description='Uses Javascript to grab a CSV and do some things to it and create a table in html.' client='None' lang='HTML, CSS, JavaScript, jQuery, and jQueryUI' github='https://github.com/jomizrahi92/CSV-to-JavaScript' site='n' img='csvjavascript' img2='csvjavascript2'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
