<!--Header Start-->
{{> header title='Full Website - Freezy Freakies' description='Full Website for Freezy Freakies'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Freezy Freakies.' client='Freezy Freakies' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Freezy-Freakies' site='http://getfreezy.com' img='freezyf'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
