<!--Header Start-->
{{> header title='Full Website - Haskell Jewels' description='Full Website for Haskell Jewels'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Haskell Jewels.' client='Haskell Jewels' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Haskell-Jewels' site='http://www.haskelljewels.com' img='haskelljewels'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
