<!--Header Start-->
{{> header title='Full Website - Image Capital' description='Full Website for Image Capital'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Image Capital.' client='Image Capital' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Image-Capital' site='http://imagecapital.net/html/index.html' img='imagecapital'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
