<!--Header Start-->
{{> header title='Full Website - JMLegend' description='Full Website for JMLegend'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for JMLegend.' client='JMLegend' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/JMLegend' site='http://www.legendleasing.com' img='jmlegend'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
