<!--Header Start-->
{{> header title='Full Website - Joseph Mizrahi' description='Full Website for Joseph Mizrahi'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Joseph Mizrahi (Myself).' client='Joseph Mizrahi' lang='HTML, CSS, JavaScript, jQuery, Responsive Design, Bootstrap, Node, ExpressJS, HandlebarsJS' github='https://github.com/jomizrahi92/Website' site='http://josephmizrahi.com' img='josephmizrahi' old='old'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
