<!--Header Start-->
{{> header title='Full Website - JavaScript Calendar' description='Full Website for JavaScript Calendar'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='JavaScript Calendar' description='Uses Javascript to grab create a calendar and select a date and month.' client='None' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Javascript-Calendar' site='n' img='jscalendar'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
