<!--Header Start-->
{{> header title='Full Website - JS Hatzalah Carnival' description='Full Website for JS Hatzalah Carnival'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for JS Hatzalah Carnival.' client='JS Hatzalah Carnival' lang='HTML, CSS, JavaScript, jQuery, PHP' github='https://github.com/jomizrahi92/Hatzalah-Carnival' site='http://hatzalahcarnival.com' img='jshatzalahcarnival'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
