<!--Header Start-->
{{> header title='Full Website - Kidsperation' description='Full Website for Kidsperation'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Kidsperation.' client='Kidsperation' lang='HTML, CSS, JavaScript, jQuery, Responsive Design' github='https://github.com/jomizrahi92/Kidsperation' site='http://kidsperationinc.com' img='kidsperation'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
