<!--Header Start-->
{{> header title='Full Website - Layer8' description='Full Website for Layer8'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Layer8.' client='Layer8' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Layer8' site='n' img='layer8'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
