<!--Header Start-->
{{> header title='Full Website - No Man Walks Alone' description='Full Website for No Man Walks Alone'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for No Man Walks Alone.' client='No Man Walks Alone' lang='HTML, CSS' github='https://github.com/jomizrahi92/No-Man-Walks-Alone' site='http://www.nomanwalksalone.com' img='noman'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
