<!--Header Start-->
{{> header title='HTML Email for BSDRE' description='HTML Email for BSDRE'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='HTML BSDRE' description='Created an HTML Email for One Family Fund.' client='One Family Fund' lang='HTML, CSS' github='https://github.com/jomizrahi92/One-Family-Fund' site='n' img='onefamfund'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
