<!--Header Start-->
{{> header title='Responsive Webpage Mockup' description='Responsive Webpage Mockup'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Responsive Webpage Mockup' description='Created a responsive webpage mockup.' client='None' lang='HTML, CSS, Bootstrap, Responsive Design' github='https://github.com/jomizrahi92/Responsive-Design' site='n' img='responsivedesign'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
