<!--Header Start-->
{{> header title='Full Website - SunSource' description='Full Website for SunSource'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for SunSource.' client='SunSource' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/SunSource' site='http://www.sunsourcejewelry.com' img='sunsource'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
