<!--Header Start-->
{{> header title='SYPulse Wordpress Website' description='SYPulse Wordpress Website'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='SYPulse Wordpress Website' description='Created a Wordpress blog for SYPulse.' client='SYPulse' lang='HTML, CSS, PHP, Wordpress' github='https://github.com/jomizrahi92/SYPulse-Wordpress-Site' site='n' img='sypulsesite'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
