<!--Header Start-->
{{> header title='SYPulse iOS App' description='SYPulse iOS App'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='SYPulse iOS App' description='Created an iOS App for SYPulse.' client='SYPulse' lang='Objective-C, Cocoa Touch' github='https://github.com/jomizrahi92/SYPulse-App' site='n' img='sypulseapp'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
