<!--Header Start-->
{{> header title='Full Website - Town And Country' description='Full Website for Town And Country'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Town And Country.' client='Town And Country' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Town-Country' site='http://www.tncliving.com' img='towncountry'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
