<!--Header Start-->
{{> header title='Full Website - Tricoastal' description='Full Website for Tricoastal'}}
<!-- Header End -->

<body>
    <!-- Header Main Start -->
    {{>header-main}}
    <!-- Header Main Header End -->

    <!-- Portfolio Body Start -->
    {{>portfolio-body title='Full Website' description='Created the Full Website for Tricoastal.' client='Tricoastal' lang='HTML, CSS, JavaScript, jQuery' github='https://github.com/jomizrahi92/Tricoastal' site='http://www.tricoastaldesign.com' img='tricoastal'}}
    <!-- Portfolio Body End -->

    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->
</body>
